@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';
@import 'elements/footer';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-upload {
	color: #fff;
  background-color: $nav-pills-link-active-bg;
}

.btn-upload:hover {
	color: #fff;
  background-color: darken($nav-pills-link-active-bg, 15%);
}